@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(circle, #919191 1px, transparent 1px);
  background-size: 40px 40px;
  background-color: #FBF8EF;
}

.dark body {
  background-image: radial-gradient(circle, #919191 1px, transparent 1px);
  background-size: 40px 40px;
  background-color: #303030;
}
