@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(circle, #a6a6a6 1px, transparent 1px);
  background-size: 40px 40px;
  background-color: #303030;
}
